/* 
html{
    scroll-behavior: smooth;
} */
body{
    background: #F6F6F6;
}
a{
    text-decoration: none;
    opacity: .85;
    transition: all .5s;
}
a:hover{
    opacity: 1;
}

.wrapper, header{
    font-family: 'Roboto', sans-serif;
    max-width: 1060px;
    margin: 0 auto;
    box-sizing: border-box;
}
.hide{
    display: none;
}

header{
    padding: 35px 0;
    background: #f6f6f6;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    border-radius: 1em;
}
.logo{
    display: inline-block;
}
.logo img{
    max-height: 32px;
}

/*  NAV  */
nav{
    float: right;
}
nav ul{
    list-style: none;
    margin: 0
}
nav ul li{
    display: inline-block;
}
nav ul a{
    text-decoration: none;
    display: block;
    padding: 8px 12px;
    color: #333;
    margin: 0 15px;
    transition: all 1s;
}
nav ul a.active{
    font-weight: bold;
}
nav ul a:after{
    content: '';
    background: #333;
    height: 3px;
    width: 0;
    display: block;
    margin: 2px 0 0 auto;
    transition: all 1s;
}
nav ul a.active:after{
    content: '';   
    width: 22px;
    height: 3px;
}
nav ul a:hover:after{
    content: '';    
    height: 3px;
    width: 100%;   
}
nav #toggleNav{
    display: none;
}

/*  SECTIONS  */
section{
    overflow: hidden;
    padding: 100px 3.433% 150px 6.866%;
    position: relative;
}
.section-title{
    font-size: 50px;
    color: #3512A7;
}
.section-title h2{
    margin: 0;
}
.section-title p{
    font-size: 24px;
    font-weight: 500;
    color: #1A2B9C;
    margin: .8em 60px 1.8em 0;
    line-height: 34px;
}

.hello{
    padding-top: 200px;
}
.hello .more{
    font-size: 12px;
    position: absolute;
    bottom: 0px;
}
.hello .more a{
    font-weight: 500;
    color: #666;
    font-weight: bold;
}
.hello .more .icn{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    vertical-align: text-bottom;
}

.circle{
    position: relative;
}
.circle:before{
    content: '';
    width: 545px;
    height: 545px;
    position: absolute;
    background: url('../img/fig-1.png');
    top: -170px;
    left: -545px;
}
.hexa{
    position: relative;
}
.hexa:before{
    content: '';
    width: 230px;
    height: 500px;
    position: absolute;
    background: url('../img/fig-2.png');
    background-repeat: no-repeat;
    top: -170px;
    right: -140px;
}

.social ul{
    list-style-type: none;
    margin: 0;
    position: absolute;
    right: 0;
    top: 180px;
}
.social a{
    display: block;
}
.social .icn{
    margin: .5em 1.5em 1.5em;
}
/*  ICONS  */
.icn{
    width: 30px;
    height: 30px;
    display: block;
    background: red;
    background-repeat: no-repeat;
}
.icn.icn-linkedin{
    background: url('../img/icn-linkedin.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.icn.icn-dribble{
    background: url('../img/icn-dibble.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
}
.icn.icn-codepen{
    background: url('../img/icn-codepen.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
}
.icn.icn-medium{
    background: url('../img/icn-medium.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.icn.icn-rowdown{
    background: url('../img/icn-down.png');
    background-size: contain;
    background-repeat: no-repeat;
}


/*  
    WORK  
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.09);
*/
.work .projects{
    width: 100%;
    overflow: hidden;
    clear: both;
}
.work .project{
    background: #FDFDFD;
    border-radius: 5px;
    padding: 40px 40px 30px;
    width: 45%;
    display: inline-block;
    margin: 1% 2% 1% 0;
    box-sizing: border-box;
    transition: all .8s;
}
.work .project:hover{
    background: #ffffff;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
}
.work .project img{
    width: 100%;
}
.work .project code{
    font-size: .9em;
}


/*  CONTACT  */
.contact h4{
    margin-top: 7px;
}
.contact ul{
    position: initial;
    padding: 0;
}
.contact ul li{
    display: inline-block;
}
.contact ul li .icn{
    margin: 7px .5em 1em 0;
}
.contact .contact-bloq{
    margin-bottom: 30px;
}

/* FOOTER */
footer{
    text-align: center;
    font-size: 12px;
    padding-bottom: 10px;
    display: block;
    margin-top: -20px;
    color: #707070;
}

@media screen and (max-width:1024px){
    .wrapper, header{
        max-width: 100%;
        overflow: hidden;
        padding: 0 35px;
    }
    header{
        padding: 35px;
        left:0;
    }
}
@media screen and (max-width:768px){
    header{
        padding: 15px 35px;
    }
    .work .project{
        width: 100%;
    }
}
@media screen and (max-width:480px){
    section{
        padding: 70px 10px 120px;
    }
    .hello{
        padding-top: 170px;
    }
    .section-title p{
        font-size: 20px;
        margin-top: .5em;
    }
    .section-title h2{
        font-size: 1.3em;
    }
    .work .project{
        padding: 30px 40px 20px;
    }
    nav #toggleNav{
        display: block;
        padding: 12px;
        position: absolute;
        right: 30px;
        top: 5px;
    }
    nav #toggleNav i{
        display: block;
        height: 2px;
        width: 22px;
        margin: 6px;
        background: #333;
    }
    nav ul{
        padding: 0;
        display: none;
    }
    nav.active{
        width: 100%;
        margin-top: 20px;
        background: #fff;
        padding: 10px;
    }
    nav.active ul{
        display: block;
        padding: 10px;
    }
    nav.active li{
        display: block;
    }
    nav.active a{
        padding: 12px;
    }
    nav a:after{
        height: 0;
    }
}
@media screen and (max-width:360px){
    .wrapper{
        padding: 0 20px;
    }
    header{
        padding: 20px 30px;
    }
    .project{
        padding: 20px 30px;
    }
}